---
title: Un-Indexed Products Report ({{metadata.database.dbname}} DB)
date: {{metadata.execution_date}}
right-header: \today

documentclass: report
---


# Summary

This report was generated at {{metadata.execution_date}} and based on the S3 Inventory at {{metadata.inventory_date}}.



Product | Num on S3 | Num in DB | Num not indexed
-|-|-|-
{% for product, details in all_products | dictsort -%}
{% if details.num_not_indexed > 0 %}[{{ product }}]{%else%}{{product}}{%endif%} | {{details.num_on_s3}} | {{details.num_in_db}} | {{details.num_not_indexed}}
{% endfor %}


# Products

{% for product, details in all_products | dictsort if details.num_not_indexed > 0 %}


## {{ product }}

detail | value
-:|:--------
Un-indexed Datasets |  {{ details.num_not_indexed }}
Prefix |  `{{details.prefix_used}}`
Suffix |  `{{details.suffix_used}}`
In S3 |  {{ details.num_on_s3 }}
In Database |  {{ details.num_in_db }}

[View in DEA Public Data]({{details.prefix_used | replace("s3://dea-public-data/", "https://data.dea.ga.gov.au/?prefix=")}}) 

[View in Explorer](https://explorer.sandbox.dea.ga.gov.au/products/{{product}})

[Missing URLs List]({{product}}.txt)



Table: Un-indexed datasets by year

Year | Count
-----|------
{% for year, count in details.not_indexed_by_year | dictsort -%}
{{year}} | {{count}}
{% endfor %}



{% endfor %}
